@model IEnumerable<TreenetTestProject.Models.HomeDataModel>

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        var suggestions = "@Model.ToString()".split("|");
        console.log(suggestions);
        autocomplete(document.getElementById("searchInput"), suggestions);
        console.log(document.getElementById("searchInput").value)
    })
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form autocomplete="off">
        <div class="autocomplete">
            <input id="searchInput" type="text" name="searchText">
        </div>
    </form>
    <input type="submit" onclick="redirect()">

</div>
